<style>
    @font-face {
        font-family: 'Libre Franklin Regular';
        src: url({{ "fonts/LibreFranklin/LibreFranklin-Regular.ttf" | absURL }}) format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Libre Franklin Bold';
        src: url({{ "fonts/LibreFranklin/LibreFranklin-Bold.ttf" | absURL }}) format('truetype');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: 'Libre Franklin Italic';
        src: url({{ "fonts/LibreFranklin/LibreFranklin-Italic.ttf" | absURL }}) format('truetype');
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: 'Libre Franklin Bold Italic';
        src: url({{ "fonts/LibreFranklin/LibreFranklin-BoldItalic.ttf" | absURL }}) format('truetype');
        font-weight: bold;
        font-style: italic;
    }

    body {
        font-family: "Libre Franklin Regular";
    }
</style>